<h2>User Settings</h2>

<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div id="content-wrapper-users">
	<div id="left">
		<%= image_tag "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email)}" %>
	</div>
	<div id="right">
		<%= render 'user' %>
	</div>
</div>